.container {
  padding: .5rem;
}

.margin-top5 {
  margin-top: .5rem;
}

.border {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.weekday {
  font-size: small;
  color: gray;
}

.line-through {
  text-decoration: line-through;
}