.container {
  padding: .5rem;
}

.margintop {
  margin-top: .5rem;
}

.border {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.lineheight {
  line-height: 2.4rem;
}

.weekday {
  font-size: small;
  color: gray;
}