doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My First Todo App!
    link(rel='stylesheet', href='./styles/mainSheet/font-awesome.min.css')
  body
    #root
  script(src='./bundle.js', defer='')
